<h1><%= @space.name %></h1>
<h2><%= @space.description %></h2>
<h3><%= @space.price %></h3>

<form action="/requests/new" method="post">
<% @available.each do |date| %>
 <input type="checkbox" name="<%= date.avail_date %>" value="<%= date.id %>"><%= date.avail_date %>
   <% end %>
 <button class="btn" type="submit">Request booking</button>
</form>
