<h1>Request for <%= @space.name %></h1>
<h2><%= @space.description %></h2>
<h3>From: <%= @from.email %></h3>

<h3>Date: <%= @date.avail_date %></h3>

<form action="/requests/<%= @request_id %>" method="post">
  <button class="btn" type="submit" name="response" value="<%= Helpers::APPROVED %>">Confirm request</button>
  <button class="btn" type="submit" name="response" value="<%= Helpers::REJECTED %>">Reject request</button>
</form>
