<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 notHome">
    <h1>Book a Space</h1>
    <p>Cram more people in your hovel and make a some money</p>
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <form action="/spaces/new" method="get">
          <input type="submit" name="listASpace" id="listASpace" tabindex="4" class="form-control btn btn-login" value="List a space">
        </form>
      </div>
    </div>
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <p>Search for a place to stay (toilets optional).</p>
        <form action="/spaces" method="get">
          <div class="form-group">
            <label for="fromDate">Available from</label>
            <input class="form-control" id="fromDate" name="from_date" type="date" required>
            <label for="fromDate">Available to</label>
            <input class="form-control" id="toDate" name="to_date" type="date" required>
          </div>
            <input type="submit" name="listASpaces" id="listSpace" tabindex="4" class="form-control btn btn-login" value="List spaces">
        </form>
      </div>
    </div>
    <div class="panel panel-default text-left">
      <div class="panel-body">
        <div class="list-group">

          <% if @spaces %>
            <% @spaces.each do |space| %>
              <div  class="list-group-item">
                <h3><a href="/spaces/<%= space.id %>"><%= space.name %>: £<%= space.price %></a></h3>
                <p><%= space.description %></p>
              </div>
            <% end %>
          <% else %>
            <% if @allspaces %>
              <% @allspaces.each do |space| %>
                <div  class="list-group-item">
                  <h3><a href="/spaces/<%= space.id %>"><%= space.name %>: £<%= space.price %></a></h3>
                  <p><%= space.description %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
